body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0d1117;
    color: #c9d1d9;
}

header {
    text-align: center;
    padding: 60px 20px;
    background: radial-gradient(circle, #1f2933, #02040a);
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #58a6ff;
    object-fit: cover;
}

.tagline {
    color: #58a6ff;
    font-size: 20px;
}

.sub {
    max-width: 700px;
    margin: auto;
    opacity: 0.85;
}

.cta {
    margin-top: 25px;
}

.btn {
    padding: 12px 24px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.primary {
    background: #58a6ff;
    color: black;
}

.secondary {
    border: 2px solid #58a6ff;
    color: #58a6ff;
}

nav {
    background: #02040a;
    text-align: center;
    padding: 12px;
    position: sticky;
    top: 0;
}

nav a {
    color: #c9d1d9;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

h2 {
    color: #58a6ff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #02040a;
    padding: 20px;
    border-left: 4px solid #58a6ff;
}

.project {
    display: flex;
    gap: 20px;
    background: #02040a;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
}

.project img {
    width: 220px;
    border-radius: 6px;
}

.contact-box {
    background: #02040a;
    padding: 25px;
    border-left: 4px solid #58a6ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #02040a;
    opacity: 0.8;
}
.project img {
        width: 100%;
    }

@media (max-width: 768px) {
    .project {
        flex-direction: column;
        text-align: center;
    }}
.email-float {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 90px;      /* above WhatsApp */
    right: 20px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    z-index: 9999;
    text-decoration: none;
}


.whatsapp-float {
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    z-index: 9999;
    text-decoration: none;
}



